@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: #505050;
    font-family: 'Roboto', sans-serif;
}


.wrapper {
    width: 70%;
    margin: auto;
}


.hero-wrapper {
    height: 95vh;
    position: relative;
}


nav {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 0;
    width: 70%;
    padding: 1rem 0rem;
}


nav ul {
    display: flex;
}


nav li {
    margin-right: 2rem;
}


nav a {
    font-size: .9rem;
    font-weight: 500;
    color: #ccc;
}


nav li:first-child a {
    color: #333;;
}


.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}


.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
}


.hero-text h1 {
    font-size: 4.2rem;
    margin-bottom: .5rem;
    margin-top: .4rem;
}


.hero-text p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}


.hero-text button {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}


.hero-img {
    background-image: url(img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.brands {
    margin-top: -3rem;
    z-index: 100;
    position: relative;
}


.brands .wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2);
    border: 7px;
}


.brands .wrapper img {
    width: 20% !important;
    height: auto;
}


.specifics {
    margin-top: 4rem;
}